.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

mat-form-field {
  min-width: 24rem;
}

.mat-card-actions {
  margin: 0;
}

.separator {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  //margin: 0.5rem 0;
  text-align: center;
}
