<a class="back-button" (click)="backToPreviousPage()">
  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</a>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="stretch">
  <mat-card
    fxLayout="column"
    fxFlex.xs="100"
    fxLayoutAlign.xs="center stretch"
    fxLayoutGap="10px"
  >
    <mat-card-header>
      <mat-card-title><strong>Logowanie</strong></mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <mat-card-content fxLayout="column" fxLayoutGap="10px">
        <mat-form-field floatLabel="never">
          <input
            matInput
            placeholder="Login"
            formControlName="login"
            name="login"
          />
          <mat-error *ngIf="login.hasError('required')">
            Login jest <strong>wymagany</strong>
          </mat-error>
          <mat-error *ngIf="login.hasError('email')">
            Podaj prawidłowy adres e-mail
          </mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="never">
          <input
            matInput
            placeholder="Hasło"
            type="password"
            formControlName="password"
            name="password"
          />
          <mat-error *ngIf="password.hasError('required')">
            Hasło jest <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutGap="10px">
        <button
          [disabled]="loading$ | async"
          mat-flat-button
          color="primary"
          type="submit"
        >
          Zaloguj się
        </button>
        <a [routerLink]="['/reset']" mat-flat-button
          ><small>Nie pamiętasz hasła?</small></a
        >

        <div class="separator"></div>

        <a [routerLink]="['/register']" color="accent" mat-flat-button
          >Utwórz nowe konto</a
        >
      </mat-card-actions>
    </form>
  </mat-card>
</div>
