@import 'variables';
@import 'breakpoints';
@import '../../../../node_modules/@angular/material/theming';

//
// @Typography
//
$heading-font-family: "Work Sans, sans-serif";

$my-app-typography: mat-typography-config(
  $font-family: $heading-font-family,
);

@include angular-material-typography($my-app-typography);


html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: $bg-color;
  @extend .mat-typography;
}

.content-wrapper {
  overflow: auto;
  flex: 1;
  padding: 1rem;
  position: relative;
}

a {
  &:link {
    text-decoration: none;
  }

  & > button {
    width: 100%;
  }
}
