<div class="user">
  <h1 class="mat-h1">Users</h1>
  <table mat-table [dataSource]="data" class="user-list">
    <!--   Position Column -->
    <!--  <ng-container matColumnDef="position">-->
    <!--    <th mat-header-cell *matHeaderCellDef> No. </th>-->
    <!--    <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
    <!--  </ng-container>-->

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{ element.isActive }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button>
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
