$img-dimension: 160px;

:host {
  .image-container {
    overflow: hidden;
    border-radius: 16px;
    height: $img-dimension;
    width: $img-dimension;

    img {
      height: $img-dimension;
      width: $img-dimension;
      object-fit: cover;
    }
  }

  .logo {
    margin: 2.5rem;
    text-align: center;
    font-size: 24px;
    color: #3f51b5;
    .mat-icon {
      height: 160px !important;
      width: 160px !important;
      font-size: 160px !important;
    }
  }
}
