<div class="logo">
<!--  <div class="image-container">-->
<!--    <img src="/assets/TacoHemingwayEuropa/cover.jpg" alt="" />-->
<!--  </div>-->
  <mat-icon>music_note</mat-icon>
  <div>Audio Player</div>
</div>
<mat-list>
  <h3 mat-subheader>Songs</h3>
  <ng-container *ngIf="playlist$ | async as playlist">
    <mat-list-item
      *ngFor="let file of playlist; let i = index"
      (click)="openFile(file, i)"
    >
      <mat-icon color="primary" mat-list-icon>music_note </mat-icon>
      <h4 mat-line>{{ file.name }}</h4>
      <h5 mat-line>by {{ file.artist }}</h5>
      <mat-icon
        color="primary"
        *ngIf="currentFile.index === i && !audioService.state?.error"
        >volume_up</mat-icon
      >
      <h6 *ngIf="currentFile.index === i && audioService.state?.error">
        ERROR
      </h6>
      <mat-divider></mat-divider>
    </mat-list-item>
  </ng-container>
</mat-list>
