<mat-toolbar color="primary">
  <mat-toolbar-row>
    {{ audioService.state?.readableCurrentTime }}

    <mat-slider
      class="time-slider"
      min="0"
      [max]="audioService.state?.duration"
      step="1"
      [value]="audioService.state?.currentTime"
      (input)="onSliderChangeEnd($event)"
      [disabled]="audioService.state?.error || audioStateService.currentFile.index === undefined"
    ></mat-slider>
    {{ audioService.state?.readableDuration }}
  </mat-toolbar-row>
  <mat-toolbar-row class="media-action-bar">
    <button
      mat-button
      [disabled]="isFirstPlaying()"
      (click)="previous()"
    >
      <mat-icon mat-list-icon>skip_previous</mat-icon>
    </button>
    <button
      *ngIf="!audioService.state?.playing"
      mat-button
      (click)="play()"
      [disabled]="audioService.state?.error"
    >
      <mat-icon mat-list-icon>play_circle_filled</mat-icon>
    </button>
    <button
      mat-button
      (click)="pause()"
      *ngIf="audioService.state?.playing"
    >
      <mat-icon mat-list-icon>pause</mat-icon>
    </button>
    <button
      mat-button
      [disabled]="isLastPlaying()"
      (click)="next()"
    >
      <mat-icon mat-list-icon>skip_next</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
