@import 'breakpoints';

.file-input {
  display: none;

  &-button {
    position: fixed;
    right: 16px;
    bottom: 160px;
    @include media-breakpoint('xs') {
      right: 8px;
      bottom: 152px;
    }
  }

}
